# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
.github/
.e2e/
.cr-index/
.cr-release-packages/
.cr-staging/
ci/
e2e/
*.gotmpl
AGENTS.md
.ct.yaml
.pre-commit-config.yaml
cr.yaml
renovate.json
