name: "Test using kind and chart-testing tool"
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        kubernetesVersion: ["v1.19.16", "v1.23.9"]
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Shellcheck
      uses: ludeeus/action-shellcheck@0.1.0

    - name: Set up Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.4.0

    - uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2.0.1

    - name: Run chart-testing (list-changed)
      id: list-changed
      run: |
        changed=$(ct list-changed)
        if [[ -n "$changed" ]]; then
          echo "::set-output name=changed::true"
        fi

    - name: Create kind cluster
      uses: helm/kind-action@v1.2.0
      if: steps.list-changed.outputs.changed == 'true'
      with:
        node_image: "kindest/node:${{ matrix.kubernetesVersion }}"
        config: .ci/kind-config.yaml

    - name: Verify kind
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        kubectl cluster-info
        kubectl get nodes -o wide
        kubectl get pods -n kube-system

    - name: Run chart-testing linting (lint)
      run: ct lint --config .ci/ct-config.yaml --chart-repos hashicorp=https://helm.releases.hashicorp.com

    - name: Run chart-testing (install)
      run: ct install --config .ci/ct-config.yaml
